################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/20210713_DynamoGraphsForAll_JohnPierson/_dataset/_GenerativeDesign/01_GenerativeDesign_SetPanelTypes.Dependencies/packages/Clockwork for Dynamo 2.x/dyf/All Intersecting Elements Of Category By BoundingBox.dyf
